html{
    height: 100%;
}

/* BACKGROUND GRADIENT  AND COLORS*/

 #gradient{
background: linear-gradient(0deg,#DBDBD2 80%,#009688 20%);
background-repeat: no-repeat;
}

.bc-user{
    background-color:#EAEAEA;
   
}

.bc-notify{
    background-color: #8EDAFC;
    flex-grow: 1;
}


/* IMG */
.user-pic{
    height:80px;
    width: 80px;
    border-radius: 50%;
}

/* ICONS */
.fa-redo-alt{
    font-size: 30px;
    color:#B1B1B1
}
.fa-comment-alt{
    font-size: 30px;
    color:#B1B1B1
}
.fa-ellipsis-v{
    font-size: 30px;
    color:#B1B1B1
}

.fa-bell-slash{
    color:#8EDAFC;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
}


/*  */
.bc-notify span{
    position: relative;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: white;
}

div p{
    margin: 0%;
}

.search-bar{
    position: relative;
}
.search-input{
    position: absolute;
    top: 50%;
    left:30px;
    transform: translateY(-50%);
}
.search-contact{
    outline: none;
    border: 2px solid #F3EEEA;
    width: 80%;
	height: 35px;
    border-radius: 10px;
    padding-left: 50px;
 }

/* NAV BAR */

.contacts-bar{
    height: 500px;
    overflow-y: auto;
}

/* CHAT WITH CONTACTS */
.input-chat i{
    color: #6B7376;
    font-size: 30px;
 }

            
.chat-header i{
    color:#B1B1B1;
    font-size: 25px;
    padding-right: 10px;
    
}
.chat-bg{
    
    background-image: url(../img/mine.jpg);
    max-width: 100%;
    height: calc(100% - 150px);
}

.text-area{
    outline: none;
    border: 2px solid #F3EEEA;
    width: 80%;
	height: 35px;
    border-radius: 5px;
}
/* MESSAGES COLORS */

.sent{
    background-color: #D5F9BA;
    padding: 15px;
    border-radius:10px;
}

.received{
    background-color: #FFF;
    padding: 15px;
    border-radius:10px;  
}